.DS_Store
*.aux
*.fls
*.log
*.out
*.gz
*.fdb_latexmk
*.toc
/src/RTB/Documentazione Esterna/build
/src/RTB/Documentazione Interna/Verbali Interni/build
/src/RTB/Documentazione Esterna/Verbali Esterni/build
src/RTB/Documentazione Esterna/Piano_di_Qualifica_v0.4.pdf
/src/RTB/Documentazione Interna/build
*.md
